<link rel="stylesheet" type="text/css" href="../public/assets/styles/salesforce-lightning-design-system.min.css">
<style>
	.no-pointer {
	  cursor: default;
	}
  </style>
  <header class="slds-global-header_container" style="z-index: 9000;"><a href="javascript:void(0);" class="slds-assistive-text slds-assistive-text--focus">Skip to Navigation</a><a href="javascript:void(0);" class="slds-assistive-text slds-assistive-text--focus">Skip to Main Content</a>
	<!-- <div class="slds-global-header slds-grid slds-grid--align-spread">
	  <div class="slds-global-header__item">
		<div class="slds-global-header__logo ">
		  <img src="../public/assets/images/logo-noname.svg" style="width: 45px; height: 32px;" alt="" />
		</div>
	  </div>
	</div> -->
	<div class="slds-context-bar">
	  <div class="slds-context-bar__primary slds-context-bar__item--divider-right">
		<div class="slds-context-bar__item slds-context-bar__dropdown-trigger slds-dropdown-trigger slds-dropdown-trigger--click slds-no-hover">
		  <div class="slds-context-bar__icon-action">
			
			<img style="width:30px;height:30px;" src="../public/assets/images/logo-noname.svg" alt="Perf">
		</div>
		  <span class="slds-context-bar__label-action slds-context-bar__app-name">
			<span class="slds-truncate">GUSify Perf Framework</span>
		  </span>
		</div>
	  </div>
	  </div>
</header>

<section id="workItems" class="workItemPanel slds-m-vertical--xx-large">
	<div class="title">
	  <h2>GUS Work Items</h2>
	</div>
	<div class="table-container">
	  <table class="slds-table slds-table--bordered slds-table--cell-buffer slds-table--striped">
		<thead>
		  <tr class="slds-text-title--caps">
			<th scope="col">
			  <div class="slds-cell-shrink">#</div>
			</th>
			<th scope="col">
			  <div class="slds-truncate" title="Work Item">Work Item</div>
			</th>
			<th scope="col">
				<div class="slds-truncate" title="Name">Name</div>
			</th>
			<th scope="col">
			  <div class="slds-truncate" title="Product Tag">Product Tag</div>
			</th>
			<th scope="col">
			  <div class="slds-truncate" title="Scrum Team">Scrum Team</div>
			</th>
			<th scope="col">
			  <div class="slds-truncate" title="Impact">Impact</div>
			</th>
			<th scope="col">
			  <div class="slds-truncate" title="Frequency">Frequency</div>
			</th>
			<th scope="col">
				<div class="slds-truncate" title="Priority">Priority</div>
			</th>
			<th scope="col">
			  <div class="slds-truncate" title="Status">Status</div>
			</th>
		  </tr>
		</thead>
		<tbody>
		  {{#if result}}
		  {{#each result as |result index|}}
			<tr>
			  <td scope="row">
				<div class="slds-truncate">{{result.agf__ADM_Work__c}}</div>
			  </td>
			  <td>
				<div class="slds-truncate">{{result.Name}}</div>
			  </td>
			  <td>
				<div class="slds-truncate">{{result.agf__ADM_Product_Tag__c}}</div>
			  </td>
			  <td>
				<div class="slds-truncate">{{result.agf__ADM_Scrum_Team__c}}</div>
			  </td>
			  <td>
				<div class="slds-truncate">{{result.agf__ADM_Impact__c}}</div>
			  </td>
			  <td>
				<div class="slds-truncate">{{result.agf__ADM_Frequency__c}}</div>
			  </td>
			  <td>
				<div class="slds-truncate">{{result.agf__Priority__c}}</div>
			  </td>
			  <td>
				<div class="slds-truncate">{{result.agf__ADM_Work_Status__c}} ms</div>
			  </td>
			</tr>
		  {{/each}}
		  {{/if}}
		</tbody>
	  </table>
	</div>
  </section>
  
  